@import url(https://fonts.google.com/share?selection.family=Funnel+Sans:ital,wght@0,300..800;1,300..800|Quantico:ital,wght@0,400;0,700;1,400;1,700);

/* Reset & Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'quantico';
}



html {
    scroll-behavior: smooth;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  line-height: 1.6;
  color: #333;
  background: black;
  height: 100vh;
}

#contact-body {
  background: url('Images/contact bg2.jpg') center/cover no-repeat;
}



/* Hero/Header */
.hero {
  height: 100vh;
  background: url('Images/pexels-pixabay-56866.jpg') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}


.hero h1 {
  font-size: 8rem;
  color: #fff;
  margin-bottom: 0.5rem;
  font-weight: bold;

}

#button {
    color: white;
    border-radius: 20px;
    background-color: black;
    padding: 10px 22px;
    border: white; 
    font-size: large;;
    box-shadow: 0px 0px 2px white;
    transition: box-shadow 0.5s ease;

}
#button:hover {
    color: white;
    background-color: black;
    box-shadow: 0px 2px 7px white;

}

/* About Section */
#about {
  background-color: black;
  padding-top: 10rem;
  padding-left: 4rem;
  padding-right: 4rem;
  color: white;
  max-width: 100%;
  margin: auto;
  text-align: center;
  height: 50vh;
  margin-top: 0px;
}

h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: white;
}


/* Gallery Section */
#gallery {
  padding: 1rem 2rem;
  background: black;
  text-align: center;
  height: 50vh;
}

.img-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 2rem;
}

.img-grid img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: height,width .74s ease;
}

.img-grid img:hover {
    height: 250px;
    width: 400px;
}

/* Footer */
footer {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 1.5rem;
  font-size: 0.9rem;
}


footer a {
  color: #00c8ff;
  text-decoration: none;
}


/*Contact Form*/

#contact-form {
    max-width: 500px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: white;
    box-shadow: 0px 4px 10px black;
    border-radius: 10px;
}

#contact-footer {
    bottom: 0;
    position: fixed;
    width: 100%;
}

#contact-header {
    text-align: center;
    padding-top: 5rem;
    font-size: 1.75rem;
    font-weight: bold;
    color: black;
}


#contact-form label {
    display: block;
    margin-bottom: 1.5rem;
    font-weight: bold;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    font-family: inherit;
}

#contact-form button {
    background-color: #00c8ff;
    color: white;
    padding: .75rem 1.5rem;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color .5s ease;

}

#contact-form button:hover {
    background-color: #009ed1;
}

h1 {
    font-weight: bold;
}



/* MEDIA QUERIES */
@media (min-width: 1800px) {
  .hero {
    
   
  }

  .hero h1 {
    font-size: 10rem;
  }

  #button {
    font-size: 1.5rem;
  }

  #about {
    padding-top: 70px;
  }

  #about h2 {
    font-size: 6rem;
  }

  #about p {
    font-size: 1.5rem;
  }

  .img-grid img {
    height: 400px;
    width: 500px;
  }

  .img-grid img:hover {
    height: 450px;
    width: 550px;
  }

  #gallery h2 {
    font-size: 6rem;
  }

  #gallery {
    height: 75vh;
  }

  footer p {
    font-size: 1.5rem;
  }

  #contact-form {
    height: 80vh;
    padding: 40px;
  }

  #contact-form input {
    height: 100px;
  }

  #contact-form textarea {
    height: 150px;
  }

  #contact-form label {
    font-size: 1.5rem;
  }

  #contact-form button {
    font-size: 2rem;
    margin-top: 20px;
  }
}



/*TABLETS*/
@media (max-width: 1024px) {
  

  #gallery {
        padding-top: 0px;
        height: auto;
    }
}


/*PHONES*/
@media (max-width: 600px) {
    .hero {
        width: 100%;
        overflow-x: hidden;
    }

    .hero h1 {
       font-size: 4.7rem; 
    }

    #button {
        font-size: 1rem;
        padding: .25rem 1rem;

    } 
    #about {
        padding-top: 20px;
        height: auto;
        padding-bottom: 10px;
    }
    

    #about h2{
        font-size: 1.5rem;
    }

    #about p {
        font-size: .75rem;
    }


    #gallery {
        padding-top: 0px;
        height: auto;
    }

    #gallery h2 {
        font-size: 1.5rem;
    }

    footer,
    footer a {
        bottom: 0;
        position: static;
    }

    #img-grid {

    }

    #img-grid img {
        flex-direction: column;
    }

    #contact-form {
      height: 100vh;
      margin-top: 0px;
      padding-top: 50px;
    }

    #contact-header {
      padding: 0;
    }

    #contact-form label {
      justify-content: center;
      justify-items: center;
      padding-top: px;
      font-size: 1.5rem;
    }

    #contact-form input {
      height: 50px;
    }

    #contact-form textarea {
      height: 100px;
    }

    #contact-form button {
      font-size: 1.75rem;
    }


    
}

@media (max-height: 600px) and (max-width: 1024px) {
  #gallery {
    padding-top: 100px;
  }

  #contact-form {
    height: 100vh;
  }

  #contact-header {
    padding: 0px;
  }
}